<%- include('./partials/head'); %>
    <%- include('./partials/header'); %>

        <section class="section-bg">
            <div class="section">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-title">
                            <h2>Favoritos</h2>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <% favorites.forEach(favorite=>{ %>

                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <div class="single-product">
                                <div class="product-thumb">
                                    <img src="<%= favorite.imgPath %> " alt="">
                                </div>
                                <div class="product-title">
                                    <h3><a href="/products"> <%= favorite.title %>  </a></h3>
                                </div>
                                <div class="product-btns">
                                    <a href="#" class="btn-small mr-2">R$ <%= favorite.price %>  </a>
                                    <a href="#" class="btn-round mr-2"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="/favorites/delete/<%= favorite.id %> " class="btn-round"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>

                    <% }) %> 
                </div>
            </div>
        </section>

        <%- include('./partials/footer'); %>
            </body>

            </html>