<%- include('./partials/head'); %>
  <%- include('./partials/header'); %>

    <main>

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="8000">
            <img src="/images/slide-1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block ">
              <h1>Desconto fidelidade de até 20% para universitários</h1>

            </div>
          </div>
          <div class="carousel-item" data-interval="8000">
            <img src="/images/slide-2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block ">
              <h1>Desconto fidelidade de até 20% para universitários</h1>

            </div>
          </div>
          <div class="carousel-item" data-interval="8000">
            <img src="/images/slide-3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block ">
              <h1>Desconto fidelidade de até 20% para universitários</h1>

            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </a>
      </div>

      <section>

        <div class="temas">
          <h1>Temas</h1>
        </div>

        <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <a href="">
                  <div>
                    <img src="/images/geekbook.webp" class="box">
                  </a>
                    <h1>Geek</h1>
                  </div>
              </div>

              <div class="col-12 col-sm-6 col-md-3">
                <a href="">
                  <div>
                    <img src="/images/infantil.jpg" class="box">
                  </a>
                    <h1>Infantil</h1>
                  </div>
              </div>


              <div class="col-12 col-sm-6 col-md-3">
                <a href="">
                  <div>
                    <img src="/images/romance.jpg" class="box">
                  </a>
                    <h1>Romance</h1>
                  </div>
                
              </div>

              <div class="col-12 col-sm-6 col-md-3">
                <a href="">
                  <div>
                    <img src="/images/biografia.jpg" class="box">
                  </a>
                    <h1>Biografia</h1>
                  </div>
                
              </div>
              </div>
            </div>
        </div>
      </section>

      <section>

        <div class="promocao">
          <h1>Promoções</h1>
        </div>

        <div class="container-fluid">
            <div class="row">

              <% promotions.forEach(promotion =>{ %> 
              <div class="col-12 col-sm-6 col-md-3">
                <a href="#">
                    <img src="<%= promotion.caminho_imagem %> " class="box">
                    <h2>R$ <%= promotion.preco %> </h2>
                </a>
              </div>

              <% }) %> 

            </div>
        </div>

      </section>

      <section>

        <div class="vistos">
          <h1>Mais vistos</h1>
        </div>

        <div class="container-fluid">
            
              <div class="row">

                <% most.forEach(most =>{ %> 
                <div class="col-12 col-sm-6 col-md-3">
                  <a href="#">
                      <img src="<%= most.caminho_imagem %> " class="box">
                      <h2>R$ <%= most.preco %> </h2>
                  </a>
                </div>
  
                <% }) %> 
  
              </div>

            
        </div>
      </section>

    </main>

    <%- include('./partials/footer'); %>
      </body>

      </html>