<%- include('./partials/head'); %>
    <%- include('./partials/header'); %>

        <section>

            <div class="row justify-content-md-center">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-product">
                        <div class="product-thumb">
                            <img src="<%= product.imgPath %> " alt="">
                        </div>
                        <div class="product-title">
                            <h3><a href="#"><%= product.title %></a></h3>
                        </div>
                        <div class="product-btns">
                            <a href="#" class="btn-small mr-2">R$ <%= product.price %> </a>
                            <a href="#" class="btn-round mr-2"><i class="fa fa-shopping-cart"></i></a>

                            <% if(typeof user != 'undefined'){%>

                                <a href="/favorites/create/<%= book.id %>  " class="btn-round"><i class="fa fa-heart"></i></a>
                                <%}else{%>
                                    <a href="/users/login" class="btn-round"><i class="fa fa-heart"></i></a>
                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-product">
                        <h4>Descrição:</h4>
                        <p> <%= product.description %>  </p>
                        </div>
                        <!-- <div class="single-product">
                            <div class="navbutton">
                                <button type="button" class="btn btn-primary">Calcular Rota</button>
                            </div>
                        </div> -->
                    </div>
                </div>
        </section>


        <%- include('./partials/footer'); %>
            </body>

            </html>